{% style %}

.bouton-cta {
	text-align: center;
}

html {
  scroll-behavior: smooth;
}

{% endstyle %}

<div class="page-width bouton-cta">

  {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
  <a href="{{ section.settings.button_link }}" class="btn hero__btn">
    {{ section.settings.button_label | escape }}
  </a>
  {%- endif -%}

</div>



{% schema %}
{
  "name": "CTA",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "button_label",
      "label": "Label bouton"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Lien bouton"
	}
  ],
  "presets": [
    {
      "name": "cta",
      "category": "cta"
    }
  ]
}
{% endschema %}

